* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html{
  font-size: 62.5%;
} 

.container {
  width: 98.0rem;
  margin: 0 auto;
  /* background-color: #e7f5ff; */
  border-top: 0.8rem solid #ffffff;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8rem;
  margin-bottom: 12.8rem;
  /* background-color: #81c1f5; */
  border-radius: 8px;
}

.heading-font {
  font-family: inter;
  font-size: 2.4rem;
  font-weight: bolder;
  color: #343a40;

  text-transform: uppercase;
}

a {
  text-decoration: none;
}
.nav-fonts {
  font-family: inter;
  font-size: 1.4rem;
  /* font-weight: bold; */
  font-weight: 30;
  color: #343a40;
  text-transform: capitalize;
}

.btn- {
  padding: 0.6rem 2.8rem;
  /* background-color: #e9ecef; */
  border-radius: 100px;
}
.btn-:hover {
  background-color: #e9ecef;
}

.ref-links {
  /* align-items: center; */
  gap: 10px;
  display: flex;
  margin-right: 1.5rem;
}

section {
  margin-bottom: 14.2rem;
}

.title-font {
  font-family: inter;
  font-size: 2.8rem;
  color: #495057;
  font-weight: 600;

  text-transform: capitalize;
}

.title-font-primary{
  font-family: inter;
  font-size: 2.8rem;
  color: #495057;
  font-weight: 400;

  text-transform: capitalize;
}

.title-font-sub {
  font-family: inter;
  font-size: 1.4rem;
  color: #868e96;
  font-weight: 400;

  margin-top: 0.4rem;
  text-transform: capitalize;
}

.border-line {
  border-bottom: 1px solid #e9ecef;
}

.main-nav{

  margin-bottom: 1.0rem;
  display: flex;
  gap:2.4rem;
}


.main-nav-fonts:link, .main-nav-fonts:visited{
  color:#495057;
  font-family: inter;
  font-weight: 600;
  font-size:1.8rem;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */

  /* background-color: #dee2e6; */
  padding:8px;
  border-radius: 24px;
}

.main-nav-fonts:hover{
  background-color: #e9ecef;
}


.main-sub-heading {
  font-family: inter;
  font-size: 3.0rem;
  color: #343a40;
  font-weight: 400;
  margin-top:30px;

}

.center-flex {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.simple-text {
  font-family: inter;
  font-size: 16px;
  color: #676869;
  font-weight: 600;

  text-transform: capitalize;
}

.med-heading-font {
  font-family: inter;
  font-size: 22px;
  font-weight: bolder;
  color: #343a40;

  text-transform: uppercase;
}

.sans-box {
  margin-top: 54px;
  padding: 10px 16px;
  background-color: #dee2e6;

  font-family: inter;
  font-size: 24px;
  color: #343a40;
  font-weight: 600;

  text-transform: uppercase;

  box-shadow: 6px 6px 1px 1px #343a4098;
}

.down-grid{
  display: flex;
  flex-direction: column;
}


.fonts-table-flex {
  color: #343a40;;
  margin-top:30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start
}

.fonts-table-flex div{
  background-color: #f8f9fa;
  height: 300px;
  padding:25px;
  /* border-radius: 18px; */
  box-shadow: 1px 1px 10px #343a402d;

  user-select: auto; /* Standard syntax */
}

.fonts-table-flex div:hover{
  background-color: #ffffff;
}

.guideline{
  font-size: 1.5rem;
  gap:12px;
  padding-left: 30px;
  font-family: inter;
  /* letter-spacing: 1.2; */
}

/*color info*/

.color-info{
  
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;

  display: flex;
  flex-direction: column;
  gap:0.8rem;
}


.color-info-box{
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  padding-left: 3.0rem;

}

.color-box{
  height: 40px;
  width: 70px;
  border-radius: 10px;

}

.red{
  background-color: #ff6b6b;
}

.orange{
  background-color: #ff922b
}

.yellow{
  background-color: #fcc419
}
.green{
  background-color: #51cf66
}
.blue{
  background-color: #339af0
}
.purple{
  background-color: purple;
}
.pink{
  background-color: #f06595
}
.brown{
  background-color: brown;
}
.black{
  background-color: #343a40;
}


.color-note{
  font-size: 1.6rem;
  color:#495057;
  padding-left: 1.8rem;
  font-family: inter;
}

.color-pallet-dropdown{
  display: flex;
  flex-direction: column;
}

.color-boxs{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-bottom: 32px;;
}

.box{
  width: 100%;
  height: 80px;
  background-color: red;
}